.idea
out
cache
lcov.info
broadcast
lcov.info
node_modules
yarn-error.log
.husky
.vscode

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
cache_hardhat
artifacts_hardhat

deployments

# Keep local deployment config folder, but not track any content
scripts/input/31337/*
!scripts/input/31337/.gitkeep 